services:
  app:
    container_name: hoa_survey
    build: .
    working_dir: /app
    volumes:
      - .:/app
      - hoa-survey-data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "3000:3000"
    env_file:
      - .env
    command: >
      sh -c "npm install && ./startup.sh"

volumes:
  hoa-survey-data:
